<div style="position: absolute;top: 87px;">
    <button type="button" class="btn btn-outline-success" (click)="show()">Add New Records</button>
</div>


<div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Login</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="AddData" (ngSubmit)="SaveData()">
                    <div class="form-group">
                        <label>student Name</label>
                        <input type="text" formControlName="StudentName" 
                        class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>student Class</label>
                        <input type="text" formControlName="StudentClass" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>student Gender</label>
                        <input type="text" formControlName="StudentGender" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>student No</label>
                        <input type="text" formControlName="StudentNo" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>student Mark</label>
                        <input type="text" formControlName="StudentMark" class="form-control" />
                    </div><br>
                    <button type="submit" class="btn btn-outline-primary">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="hide()">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="container" style="position: absolute;top: 132px;left: 55px;">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>student Id</th>
                <th>student Name</th>
                <th>student Class</th>
                <th>student Gender</th>
                <th>student No</th>
                <th>student Mark</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let f of dataStudentDetail'>
                <td>{{f.studentId}}</td>
                <td>{{f.studentName}}</td>
                <td>{{f.studentClass}}</td>
                <td>{{f.studentGender}}</td>
                <td>{{f.studentNo}}</td>
                <td>{{f.studentMark}}</td>
                <td>
                    <button type="button" class="btn btn-outline-info" 
                        (click)="EditData(f.studentId)">Edit</button>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-danger"
                        (click)="deleteData(f.studentId)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div [style.display]="showEditModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Student Information</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="AddData" (ngSubmit)="UpdateData()">
                    <div class="form-group" >
                        <label>student Id</label>
                        <input type="text" style="background-color:#e7e2e2 ;" [readonly]="true"
                            formControlName="StudentId" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>student Name</label>
                        <input type="text" formControlName="StudentName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>student Class</label>
                        <input type="text" formControlName="StudentClass" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>student Gender</label>
                        <input type="text" formControlName="StudentGender" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>student No</label>
                        <input type="text" formControlName="StudentNo" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>student Mark</label>
                        <input type="text" formControlName="StudentMark" class="form-control" />
                    </div><br>
                    <button type="submit" class="btn btn-outline-primary">Update</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="hide()">Close</button>
            </div>
        </div>
    </div>
</div>